.pry {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    color: tan;
}

.forminp {
    width: 70%;
    height: 40px;
    border-radius: 50px;
    background-color: rgba(230, 230, 230, 0.925);
    display: flex;

    >* {
        display: flex;
        height: 100%;
        /* border: 1px solid red; */
    }

    >i {
        width: 20%;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    >input {
        border: none;
        outline: none;
        width: 80%;
        background-color: transparent;

    }
}

.icon {
    i {
        font-size: 20px;
        margin: 0 5px;

        &:hover {
            color: tan;
        }
    }
}

.rowsec {
    >h4 {
        font-size: 15px;
        font-weight: normal;
    }
}

.bg-banner {
    background-image: url(../img/pawanimal.jpg);
}

.slide {
    min-height: 90vh;
    background-image: url(../img/wallpaper.jpeg);
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        display: flex;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.295);
        position: absolute;
        top: 0;
        left: 0;
    }
}

.footer {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

.copyright {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;

    &:hover .name {
        opacity: 1;
        transform: translateX(0);
    }

    &:hover .socials a:nth-of-type(1) {
        transition-delay: 0.1s;
        opacity: 1;
        transform: translateX(0);
        margin-left: 24px;
    }

    &:hover .socials a:nth-child(2) {
        transition-delay: 0.25s;
        opacity: 1;
        transform: translateX(0);
        margin-left: 12px;
    }

    &:hover .socials a:nth-child(3) {
        transition-delay: 0.4s;
        opacity: 1;
        transform: translateX(0);
        margin-left: 0px;
    }

}

.profile-pic {
    width: 200px;
    height: 240px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    object-fit: cover;
    transition: 1.5s;

    &:hover {
        border-radius: 42% 58% 5px 38% / 70% 59% 5px 30%;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 20px;
    color: rgb(0, 0, 0);
    opacity: 0;
    transition: 1.5s;
    transform: translateX(10px);

}

.socials {
    display: flex;
    flex-direction: column;
    gap: 8px;

    >a {
        color: rgba(0, 0, 0, 0.822);
        text-decoration: none;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        opacity: 0;
        transition: 0.4s ease;
        transform: translateX(10px);
    }
}